body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0d0d0d;
  color: #ffffff;
}

header {
  padding: 20px;
  background: #111;
}

nav a {
  color: #00eaff;
  margin-right: 15px;
  text-decoration: none;
}

.hero {
  padding: 80px 20px;
  text-align: center;
}

.btn {
  background: #00eaff;
  color: #000;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 6px;
}

.cards li {
  background: #1a1a1a;
  padding: 20px;
  margin: 10px 0;
  
  border-left: 4px solid #00eaff;
}
